/* General Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 16px;
    color: black;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.white-border{
    border: 1.5px solid white !important;
}

img{
    width:595px;
    height: 395px;
}

/* Main Block */
main{
    width: 100%;
    height: auto;
    
}

/* Header Block */

.wrapper_header{
    width: 100%;
    height: 3.5rem;
    /* background-color: black; */
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5em;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper_header_nav{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_header_nav_links{
    height: fit-content;
    width: 100%;
    display: inherit;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
}

.wrapper_header_nav_links_link{
    width: 25%;
    padding: 0.5em;
}

.wrapper_header_nav_links_link:first-child{
    display: none;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.wrapper_header_nav_links_link:hover{
    color:#febf02;
    background-color: white;
}


/* Hero section */

.hero{
    width: 100%;
    height: 100vh;
    background: url('hero-image-large.jpg') no-repeat scroll center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
    align-items: center;
    color: white;
}

.hero_hero-text{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 1em;
}


.hero_hero-summary-text{
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
}

.hero_hero-btn{
    background-color: #febf02;
    padding: 1em 1.5em;
    font-weight: bolder;
    margin-top: 1em;
}

.hero_hero-btn:hover{
    background-color: #ffd34b;
}

.hero_hero-info-text{
    font-size: 0.4rem;
    font-weight: lighter;
}

.hero > *:not(h1) {
    margin-bottom: 1em;
}


/* How it works Section */

.how-it-works{
    padding: 1.5em 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how-it-works_primary-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.how-it-works_primary-text span{
    color:#fac218
}

.how-it-works_summary-text{
    width: 60%;
    text-align: center;
    font-size: 0.7rem;
}

.how-it-works_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.how-it-works_container_card{
    border: 1px solid #ccc;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.how-it-works_container_card_card-icon-container{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffbf05;
    color: #000;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
}

.how-it-works_container_card:nth-child(2){
    background-color: #ffbf05;
    color: white;
}

.how-it-works_container_card:nth-child(2) .how-it-works_container_card_card-icon-container{
    background-color: #fff;
    color: #ffbf05;
}

.how-it-works_card_card-title{
    font-weight: bolder;
}

.how-it-works_card_card-text{
    font-size: 0.625rem;
    text-align: center;
}


/* See Our Example */
.see-our-examples{
    padding: 1.5em 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.see-our-examples_primary-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.see-our-examples_primary-text span{
    color:#fac218
}

.see-our-examples_project-grid{
    display: grid;
    padding-top:3em;
    grid-gap: 1em;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.see-our-examples_project{
    width: fit-content;
}

.see-our-examples_project_img-overlay{
    position: relative;
    overflow: hidden;
}
.see-our-examples_project img{
    -webkit-transition: all 0.5s 0s ease-in-out;
    -moz-transition: all 0.5s 0s ease-in-out;
    -o-transition: all 0.5s 0s ease-in-out;
    transition: all 0.5s 0s ease-in-out;
}
.see-our-examples_project_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s 0s ease-in-out;
-moz-transition: all 0.5s 0s ease-in-out;
-o-transition: all 0.5s 0s ease-in-out;
transition: all 0.5s 0s ease-in-out;
}
.see-our-examples_project:hover img{
    transform: scale(1.2);
}

.see-our-examples_project:hover .see-our-examples_project_overlay{
    width: 100%;
    height: 100%;
}


.see-our-examples_project_btn{
    width: fit-content;
    padding: 1em 2em;
    border-radius: 0.2em;
    border: 1px solid white;
}

.see-our-examples_project_load-more{
    width: fit-content;
    padding: 1em 2em;
    border-radius: 0.2em;
    background-color: white;
    color: #febf02;
    text-transform: uppercase;
    margin: 2em 0;
    font-weight: bolder;
}

.see-our-examples_project-grid:nth-child(2){
    grid-area: 1 /4
}


.see-our-examples_project-grid:nth-child(3){
    grid-area: 2 /1
}


.see-our-examples_project-grid:nth-child(4){
    grid-area: 2 /4
}


/* Our Benefits */
.our-benefits{
    display: flex;
    flex-direction: column;
    padding: 1.5em 3.5em;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.our-benefits_primary-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}


.our-benefits_primary-text span{
    color:#fac218
}


.our-benefits_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top:3em;
}


.our-benefits_info_item{
    display: flex;
    flex-direction: row;
    width: 25em;
    margin-bottom: 2em;
    cursor:default
}

.our-benefits_info_item:hover .our-benefits_info_item_icon-container{
    background-color:#ffb607
}

.our-benefits_info_item:nth-child(2){
    grid-area: 1 /3
}


.our-benefits_info_item:nth-child(3){
    grid-area: 1 /4
}


.our-benefits_info_item:nth-child(4){
    grid-area: 2 /1
}

.our-benefits_info_item:nth-child(5){
    grid-area: 2 / 3;
}

.our-benefits_info_item_icon-container{
    width: 120px;
    height: 50px;
    background-color: #d9d9d9;
}

.our-benefits_info_item_details{
    padding: 0 1em;
}

.our-benefits_info_item_details h3{
    margin-bottom: 1em;
}

.our-benefits_info_item_details_summary-text{
    line-height: 1.5;
}

/* Loved-By Section */
.loved-by{
    display: flex;
    flex-direction: column;
    padding: 1.5em 3.5em;
    justify-content: center;
    color: white;
    align-items: center;
    background: url('loved-by-image-large.jpg') no-repeat scroll bottom left;
}

.loved-by_primary-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}


.loved-by_primary-text span{
    color:#fac218
}


.loved-by_summary-text{
    width: 60%;
    text-align: center;
    font-size: 0.7rem;
}

.loved-by_testimonals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em 0;
   
}

.loved-by_testimonals_item{
    width: 50%;
    padding: 1.2em 1.7em;
    background-color: white;
    color: black;
}

.loved-by_testimonals_img{
    float: left;
    width:80px;
    height:80px;
    border-radius: 50%;
}

.loved-by_testimonals_client{
    float: right;
    width: 80%;
}
.loved-by_testimonals_client_name{
    color:#f7d460
}

.loved-by_testimonals_client_website, .loved-by_testimonals_client_recommend > *{
    font-size: 0.8em;
}
.loved-by_testimonal_client_summary-text{
    line-height: 1.7;
    margin: 1.5em 0;
}
.loved-by_testimonals_client_recommend{
    border-top: 1px solid rgba(4, 4, 4, 0.137);
    padding-top: 0.5em;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.loved-by_testimonal_client_recommend_percent{
    width: fit-content;
}

@media screen and (max-width:1024px) {
    .wrapper_header_nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: auto;
        margin-right: 3.5em;
    }
    .wrapper_header_nav_links{
        flex-direction: column;
    }

    .wrapper_header_nav_links_link:first-child{
        display: inherit;
    }
    .wrapper_header_nav_links_link{
        width: 100%;
        background-color: #febf02;
    }
    .wrapper_header_nav_links_link:first-child{
        background-color: transparent;
    }
}